include GHEtool/test/*
include GHEtool/test/methods/cases/*
include GHEtool/test/methods/hourly_data/*
exclude GHEtool/test/test_validation.py
include GHEtool/Examples/*
exclude GHEtool/gui/*
exclude GHEtool/gui/test_gui/*