name: Tests Commit

on:
  push:

jobs:

  test_methods:
    runs-on: windows-latest
    strategy:
      matrix:
        test_name:
          - test_L2
          - test_L3
          - test_L4
          - test_optimise_power
          - test_optimise_energy
          - test_optimise_energy_slow_var_temp
          - test_optimise_balance
    env:
      MPLBACKEND: Agg
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements_dev.txt
          pip install -e .

      - name: Run pytest for ${{ matrix.test_name }}
        run: |
          pytest GHEtool/test/methods/test_methods.py -k ${{ matrix.test_name }} --cov=./ --cov-report=xml

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }}

  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.10', '3.11', '3.12', '3.13' ]
    env:
      MPLBACKEND: Agg
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest
          pip install pytest-cov
          pip install -e .
      - name: Test with pytest
        run: pytest GHEtool/test/unit-tests --cov=./ --cov-report=xml
      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml
          token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
